@font-face {
  font-family: "Finger Paint";
  src: url(../fonts/FrederickatheGreat-Regular.ttf);
}

body {
  font-family: "Finger Paint";
  font-size: 1.3rem;
  min-height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfdbe5;
  background-image: url(../img/epic_battle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#contenu {
  align-content: center;
}

h4 {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0px 10px black;
}

input,
button,
select {
  font-size: 1.3rem;
  font-family: "Finger Paint";
  border-radius: 5px;
  outline: none;
  border: 2px solid #481c83;
  color: #a77df2;
  background-color: #0a0822;
}

select:disabled {
  background-color: #5b5861;
  color: #5b5861;
}

input::placeholder {
  font-family: "Finger Paint";
  font-size: 0.9em;
  color: #8f65c75e;
}

button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px rgb(69, 37, 112);
  padding: 10px 25px 10px 25px;
  color: white;
  border-radius: 50px;
  font-size: 1rem;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: #a77df2;
  box-shadow: 0 5px #d3baffa6;
  cursor: pointer;
}

button:active {
    background-color: #a87df2;
    color: #0a0822;
    box-shadow: 0 2px #753cbe;
    transform: translateY(4px);
    cursor: progress;
}

input {
    background-color: white;
}

label {
  color: white;
  backdrop-filter: blur(3px);
  text-shadow: 0 0px 10px black;
}

#barresVie {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

img {
  width: 70%;
  margin-bottom: 5%;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}

#select {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}


#guerrier, #mage, #archer {
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

#label_posture_guerrier, #label_posture_mage, #label_posture_archer {
    text-shadow: 0 0px 10px black;
    font-size: 1.2rem;
  }
  
  option {
    color: #9065c7;
    font-size: 1rem;
  }
  
  #message {
    color: white;
    text-shadow: 0 0px 10px black;
}

#post_g:hover, #post_m:hover, #post_a:hover {
  cursor: pointer;
}
